*{
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;

}

img{
    max-width: 100%;
    height: 110%;
    position: relative;
    right: 5%;
    bottom: 5%;
}


.wrapper{
    /* background-color: #f4e6cf; */
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    
}



.inner {
    padding: 20px;
    background: #ffffff;
    max-width: 1000px;
    margin: auto;
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 20px;
    height: 600px;
    width: 1200px;
    overflow: hidden;
}

.inner .img-holder {
    width: 50%;
    
}
.inner form {
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}
.inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
}
.form-group {
    display: flex;
}
.form-group input {
    width: 50%;
}
.form-group input:first-child {
    margin-right: 25px;
}
.form-wrapper {
    position: relative;
}
.form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0;
}
.form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px;
}
.form-control::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
}
.form-control::-moz-placeholder {
    font-size: 13px;
    color: #333;
}
.form-control:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
}
.form-control:-moz-placeholder {
    font-size: 13px;
    color: #333;
}

.btn-register{
    border: none;
    background-color: rgb(211, 211, 211);
    padding: 15px;
    border-radius: 20px;
}

.btn-register:hover{
    background-color: #2d763c;
    color: white;
}

.login-if{
    position: relative;
    text-align: center;
    top: 9%;
}

.login-if a{
    color: red;
}