body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.container {
    width: 90%;
    max-width: 700px; /* Adjusted max-width */
    margin: 20px auto;
    background-color: #fff;
    padding: 15px; /* Adjusted padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 10%;
}
.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Adjusted margin */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.content {
    padding: 10px; /* Adjusted padding */
}
.content h3 {
    margin: 0 0 5px; /* Adjusted margin */
    font-size: 1em; /* Adjusted font-size */
}
.price {
    margin: 5px 0; /* Adjusted margin */
    font-size: 1em; /* Adjusted font-size */
    color: #333;
}

.save-btn button{
    border: none;
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn button:hover{
    background-color: rgb(212, 140, 6);
}

.quantity-control {
    display: flex;
    align-items: center;
    margin: 5px 0; /* Adjusted margin */
}
.quantity-control button {
    background-color: orange;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.quantity-control input {
    width: 50px; /* Adjusted width */
    text-align: center;
    margin: 0 5px;
    font-size: 1em;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.btn-remove {
    text-align: right;
}
.btn-remove a {
    color: #e74c3c;
    text-decoration: none;
    font-size: 0.9em; /* Adjusted font-size */
}
.checkout {
    display: block;
    width: 100%;
    padding: 10px; /* Adjusted padding */
    background-color: #27ae60;
    color: #fff;
    border: none;
    font-size: 1em; /* Adjusted font-size */
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    margin-top: 15px; /* Adjusted margin */
}
@media (min-width: 768px) {
    .card {
        flex-direction: row;
    }
    .image-container {
        flex: 1;
    }
    .content {
        flex: 2;
    }
}