* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    /* margin-left: 50px; */
}

body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    font-size: 0.9em;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-left: 50px;

}

.hr-top {
    width: 80%;
    margin: 10px auto;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    border: 1 px solid red;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 2%;
    width: 70%;
    justify-content: space-between;
    margin-bottom:3%;
    padding: 2% 2%;
}

.vertical-nav{
    width: 20%;
    height: 40%;
    margin-top: 3%;
    
}

.vertical-nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}
.vertical-nav ul li {
    
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    height: 50px;
    list-style: none;
    background-color: whitesmoke;
    
}

.vertical-nav ul li a{
    color: black;
    padding: 20px;
    color: #333;
    text-decoration: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    width: 100%;
}


.vertical-nav ul li a:hover {
    color: #000;
    transform: translateX(10px);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background-color: #f99f1b;
}
.vertical-nav li a.active {
    background-color: #f99f1b;
    color: white;
}


.right {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;  
}

.product-image img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 600px;
    background-color: white;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}


.form-group div {
    width: 46%;
    margin-bottom: 3%;
}

.product-name label,
.category label,
.description label,
.allergy-information label,
.stock label,
.price label,
.quantity label,
.discount label,
.product-image label {
    display: block;
    margin-bottom: 8px;
    font-size: 1em;
    padding: 3px 4px;
}

.product-name input,
.description input,
.allergy-information input,
.stock input,
.picture input,
.price input,
.quantity input,
.product-img input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.category select,
.discount select {
    width: 80%;
    padding: 12px;
}

.submit-box {
    margin-top: 30px;
}



.product-name input,
.description input,
.allergy-information input,
.stock input,
.picture input,
.price input,
.quantity input {
    border: none;
    border-bottom: 1px solid black;
    background: none;
    padding: 2px 8px;
    width: 90%;
}

input:focus {
    outline: none;
    border-bottom-color: #0056b3;
}

.product-image {
    border: 2px dashed #444;
    margin: 10px;
    float: left;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn-add-product {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f99f1b;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-add-product:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .menu,
    .right {
        width: 80%;
    }

    .form-group {
        flex-direction: column;
    }

    .form-group div {
        width: 80%;
    }
}


