*{
    margin: 0;
    padding: 0;
}

.navbar-trader{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    height: 10vh;
    margin-bottom: 33px;
}