*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.home-page{
    background-size: cover;
    height: 100vh;
    background-color: aliceblue;
}

.navbar{
    position: fixed;
    overflow: hidden;
    height: 70px;
    width: 100%;
    top: 0%;
    /* background-image: url('footer.jpg'); */
    background-color: #000000;
    background-size: 29%;
    display: block;
    transition: top 0.3s;
    z-index: 3;
}

.logo{
    position: absolute;
    height: 102px;
    top: -20%;
    right: 92%;
}

.navbar ul{
    padding: 28px 40px;
}

.navbar ul li{
    text-indent: 30px;
    display: inline-block;
    color: white;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family:"Sofia", sans-serif;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    color: red;
}

/*search bar*/
.search {
    width: 250%;
    position: relative;
    display: flex;
    left: -49%;
}
  
.searchTerm {
    width: 60%;
    border: 3px solid rgb(255, 255, 255);
    border-right: none;
    padding: 2px;
    height: 15px;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    color: #9DBFAF;
    height: 25px;
}
  
.searchTerm:focus{
    color: #000000;
}
  
.searchButton {
    width: 40px;
    border: 1px solid #f99f1b;
    background-color: #f99f1b;
    text-align: center;
    color: #fff;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
}
  
.search-bar{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}
  
.search-btn-e button{
      background-color: greenyellow;
}

.signin{
    position: absolute;
    top: 27%;
    right: 11%;
}

.btn{
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    cursor:pointer;
}

.btn :hover{
    color: red;
}

.signup{
    position: absolute;
    top: 27%;
    right: 6%;
}

.btn-2{
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f99f1b;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.btn-2 :hover{
   color: #000000;
}

.basket{
    position: absolute;
    left: 95%;
    top: 30%;
    transition: transform .2s; 
}

.basket :hover{
    transform: scale(1.1);
}

/*NAV 2*/
.navbar2 {
    position: fixed;
    overflow: hidden;
    height: 65px;
    width: 100%;
    top: 8%;
    /* background-image: url('footer.jpg'); */
    background-color: #000000;
    background-size: 29%;
    position: fixed;
    display: block;
    transition: top 0.3s;
    z-index: 2;
}

.navbar2 ul {
    padding: 23px;
    text-align: center;
    position: relative;
    left: -3px;
    margin: 0;
}

.navbar2 ul li {
    text-indent: 50px;
    display: inline-block;
}

.navbar2 ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Sofia", sans-serif;
    padding: 15px;
    position: relative;
}

/* .navbar2 ul li a img{
    height: 15px;
    scale: 1.4;
    position: relative;
} */


.navbar2 ul li a.active,
.navbar2 ul li a:hover {
    color: #f99f1b;
}

.home-split{
    position: relative;
    right: 5%;
}

.bs-split{
    position: relative;
    left: 5%;
}
