<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="favicon" rel="icon" href="cfxlocalhubwhitelogo.png">
    <link rel="stylesheet" type="text/css" href="Product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Product</title>
</head>
<body>
    <div>
        <div class="box">
          <!--navbar-->
          <div class="navbar" id="nav">
            <nav>
                <ul>
                    <li><img class="logo" src="CFXLocalHub - White_Logo.png"></li>
                    <div class="search-bar">
                        <form action="search.php" method="GET">
                            <div class="search">
                                <input type="text" name="searchTerm" class="searchTerm" placeholder="   NIKE SHOES...">
                                <button type="submit" class="searchButton">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="user-box">
                        <div class="signin">
                            <form action="signin.html" method="get">
                                <button class="btn">
                                    <u><i class="fa-solid fa-user"></i> Sign in</u>
                                </button>
                            </form>
                        </div>
                        <div class="signup">
                            <form action="signup.html" method="get">
                                <button class="btn-2">
                                    Sign up
                                </button>
                            </form>
                        </div>
                    </div>
                    <li class="basket"><a href="cart.html"><img src="trolley.png" height="30px"></a></li>
                </ul>
            </nav>
        </div>

        <div class="offer-banner">
            <input type="text" name="offerText" class="offerText" placeholder=" Special Offer Here">
        </div>
        
        

        <div class="Category">       
        <select id="c1" >
            <option value="C">Category</option>
            <option value="V">Fruits</option>
            <option value="V">Bakery</option>
            <option value="V">Dairy</option>
            <option value="V">Meat</option>
            
        </select>
        </div> 


        <div class="sort-by">
            <label for="sort">Sort by:</label>
                <select id="sort">
                <option value="price">Price</option>
                <option value="name">Rating</option>
            </select>
    </div>
</div>


       

        <!-- first box -->
        <div class="image-container-group">
            <div class="image-container">
                <div class="image-box">
                    <img src="Images/Cake.jpg" alt="Image 1">
                </div>
                <div class="description-box">
                    
                        <h1>BLACK FOREST CAKE </h1>
                        <p class="price"><s>$64.99</s><br>$49.99 <i class="fa-solid fa-tag"></i></p>
                        <div class="bakery">
                            <p>Bakery</p>
                        </div>
                        
                        <button class="add-to-cart"><a href="cart.html">Add-to-Cart</a></button>
                   
                </div>
            </div>
            
        <!-- 2nd box -->
        
            <div class="image-container1">
                <div class="image-box">
                    <img src="Images/Cake.jpg" alt="Image 1">
                </div>
                <div class="description-box">
                    
                        <h1>BLACK FOREST CAKE </h1>
                        <p class="price"><s>$64.99</s><br>$49.99 <i class="fa-solid fa-tag"></i></p>
                        <div class="bakery">
                            <p>Bakery</p>
                            <button class="add-to-cart"><a href="cart.html">Add-to-Cart</a></button>
                        </div>
                   
                </div>
            </div>
        <!-- 3rd box -->
        <div class="image-container2">
            <div class="image-box">
                <img src="Images/Cake.jpg" alt="Image 1">
            </div>
            <div class="description-box">
                
                    <h1>BLACK FOREST CAKE </h1>
                    <p class="price"><s>$64.99</s><br>$49.99 <i class="fa-solid fa-tag"></i></p>
                    <div class="bakery">
                        <p>Bakery</p>
                        <button class="add-to-cart"><a href="cart.html">Add-to-Cart</a></button>
                    </div>
               
            </div>
        </div>
         <!-- 4th box -->
         <div class="image-container3">
            <div class="image-box">
                <img src="Images/Cake.jpg" alt="Image 1">
            </div>
            <div class="description-box">
                
                    <h1>BLACK FOREST CAKE </h1>
                    <p class="price"><s>$64.99</s><br>$49.99 <i class="fa-solid fa-tag"></i></p>
                    <div class="bakery">
                        <p>Bakery</p>
                        <button class="add-to-cart"><a href="cart.html">Add-to-Cart</a></button>
                    </div>
               
            </div>
        </div>

        <!-- box5 -->
        <div class="image-container4">
            <div class="image-box">
                <img src="Images/Cake.jpg" alt="Image 1">
            </div>
            <div class="description-box">
                
                    <h1>BLACK FOREST CAKE </h1>
                    <p class="price"><s>$64.99</s><br>$49.99 <i class="fa-solid fa-tag"></i></p>
                    <div class="bakery">
                        <p>Bakery</p>
                        <button class="add-to-cart"><a href="cart.html">Add-to-Cart</a></button>
                    </div>
               
            </div>
        </div>

        <!-- box6 -->
        <div class="image-container5">
            <div class="image-box">
                <img src="Images/Cake.jpg" alt="Image 1">
            </div>
            <div class="description-box">
                
                    <h1>BLACK FOREST CAKE </h1>
                    <p class="price"><s>$64.99</s><br>$49.99 <i class="fa-solid fa-tag"></i></p>
                    <div class="bakery">
                        <p>Bakery</p>
                        <button class="add-to-cart"><a href="cart.html">Add-to-Cart</a></button>
                    </div>
               
            </div>
        </div>
    </div>   
      
    
        
</body>
</html>