<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="favicon" rel="icon" type="image/x-icon" href="cfxfavicon.png">
    <link rel="stylesheet" type="text/css" href="seller-signup.css">
    <title>Seller Account Creation</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="left">
            </div>
            <div class="right"></div>
            <div class="form-container">
                <h2>Create Account</h2>
                <form action="selleraccount.php">
                    <div class="form-group">
                        <label for="phone numer">Phone Number</label>
                        <input type="text" placeholder="+977" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" placeholder="example@gmail.com" required>
                    </div>
                    <div class="form-group">
                        <label for="shopname">Shop Name</label>
                        <input type="text" placeholder="Your desired name for shop" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="first-name" placeholder="First Name" required>
                        <input type="text" id="last-name" placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                        <button class="btn-send">Next</button>
                        <label class="text">Your Path to Profits Begins Here</label>
                    </div>
                </form>

                <div class="logo">
                    <img src="cfxfaviconnew.png" width="200px">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
