<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="seller-verification.css">
    <link type="favicon" rel="icon" type="image/x-icon" href="cfxfavicon.png">
    <title>Verify Email</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="text">
                Verify Your Email
            </div>
            <div class="verify">
                <form>
                    <input type="text" placeholder="verification code">
                    <button>Vertify</button>
                </form>
            </div>
            <div class="dialog">
                Didn't recieve code? <a href="#">Resend Code</a>
            </div>
        </div>
    </div>
</body>
</html>