*{
    margin: 0;
    padding: 0;
}

.wrapper{
    background-size: cover;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}


.container {
    position: relative;
    top: 23%;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%; /* If you make it 100%, you get a bit of black showing along the diagonal */
    height: 100%;
    background: #f65656;
    -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    -webkit-clip-path: polygon(0 0, 76% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 40% 0, 65% 100%, 0% 100%);
}
